#fakeRemoteContainer {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 200px !important;
  height: 800px !important;
  z-index: 99999 !important;
}
#fakeRemoteContainer #fakeRemote {
  position: fixed !important;
  top: 0;
  left: 0;
}
#fakeRemoteContainer #fakeRemote img {
  width: 200px !important;
  height: 800px !important;
}
#fakeRemoteContainer #eventZone {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 800px !important;
  width: 200px !important;
  z-index: 999999 !important;
}
#fakeRemoteContainer #eventZone .keyNode {
  position: absolute !important;
  border-radius: 500px !important;
  border: solid 1px white !important;
}
