#fakeRemote {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  img {
    width: 200px;
    height: 800px;
  }
  .keyNode {
    position: fixed;
    z-index: 9999999;
    border-radius: 500px;
    border: solid 1px white;
  }
}