@width: 200px;
@heigth: 800px;
#fakeRemoteContainer {
  position: fixed !important;
  top: 0;
  left: 0;
  width: @width !important;
  height: @heigth !important;
  z-index: 99999 !important;
  #fakeRemote {
    position: fixed !important;
    top: 0;
    left: 0;
    //height: @heigth !important;
    img {
      width: @width !important;
      height: @heigth !important;
    }

  }
  #eventZone {
    position: fixed !important;
    top: 0;
    left: 0;
    height: @heigth !important;
    width: @width !important;
    z-index: 999999 !important;
    .keyNode {
      position: absolute !important;
      //z-index: 9999999 !important;
      border-radius: 500px !important;
      border: solid 1px white !important;
    }
  }
}